body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.flexible{
    display: flex;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-top: 50px;
}
.text-section{
    width: 50%;
    margin-top: 150px;
}
.border-class{
    font-size: 80px;
    border-left: 7px solid ;
    border-image: linear-gradient(#f7d516, #ec3a1b) 20;
    padding-left: 40px;
}
.p-tag-class{
    width: 90%;
    font-size: 20px;
    margin-top: 30px;
    text-align: justify;
}
.button-class{
    text-decoration: none;
    background-color: rgb(255, 103, 65);
    color: white;
    padding: 20px 60px;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;

}
.text-color{
    color: orange;
}
.image-section{
    width: 50%;
}
#heading-image{
    width: 80%;
}
.mission-vision-goals-heading-text{
    font-size: 80px;
    text-align: center;
}

.mission-vision-goals{
    width: 25%;
    margin-right: 80px;
    padding: 20px 40px;
    border-radius: 30px;
    box-shadow: 10px 10px 40px rgb(124, 117, 105);
}
.mission-vision-goals h1{
    font-size: 40px;
}
.mission-vision-goals img{
    height: 150px;
    width: 150px;
}
.mission-vision-goals p{
    text-align: justify;
    font-size: 20px;
}
#mission{
    background-color: rgba(91, 236, 163, 0.158);
}
#vision{
    background-color: rgba(233, 131, 131, 0.199);
}
#goals{
    background-color: rgba(228, 203, 130, 0.212);
}
.documentation-image-portion{
    width: 40%;
}
.documentation-image-portion img{
    width: 70%;
}
.documentation-text-portion{
    width: 60%;
}
.documentation-text-portion h1{
    font-size: 40px;;
}
.contact-us{
    padding-top: 80px;
}
.contact-us h1{
    font-size: 50px;
}
.contact-us p{
    font-size: 25px;
}
.cotact-us-text{
    text-align: center;
}
.call-us-on{
    width: 30%;
    text-align: center;
    border: 2px solid;
    border-image: linear-gradient(orange,rgb(28, 28, 207),rgb(40, 153, 40),rgb(255, 251, 0)) 30;
    margin-right: 20px;
    padding-top: 20px;
}
.call-us-on p{
    color: rgb(167, 112, 10);
}
#background-color{
    background-color: rgb(240, 236, 236);
}
.icon-color{
    color: orange;
}
.Visit-blog{
    text-align: center;
    padding-bottom: 100px;
}
.Visit-blog a{
    text-decoration: none;
    background-color: rgb(255, 103, 65);
    padding: 10px 150px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
footer{
    padding: 60px 0px;
    text-align: center;
    background-color: black;
    color: white;
}
footer h1{
    font-size: 40px;
}